@import "./reset.css";
/* 
Color Theme Swatches in Hex 
.Purple--1-hex { color: #3F065C; }
.Purple--2-hex { color: #D0ACDB; }
.Purple--3-hex { color: #942AD6; }
.Purple--4-hex { color: #452657; }
.Purple--5-hex { color: #7600A3; }

Color Theme Swatches in RGBA 
.Purple--1-rgba { color: rgba(63, 6, 92, 1); }
.Purple--2-rgba { color: rgba(208, 172, 219, 1); }
.Purple--3-rgba { color: rgba(148, 42, 214, 1); }
.Purple--4-rgba { color: rgba(69, 38, 87, 1); }
.Purple--5-rgba { color: rgba(118, 0, 163, 1); }

font-family: 'Dosis', sans-serif;
*/

.login-page{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.logo{
    width: 200px;
    margin-top: 30px;
}
.logotype{
    width: 150px;
    margin-bottom: 15px;
}
.login-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    margin: 20px;
    padding: 15px;
}
.login-input, .login-btn{
    font-family: 'Dosis', sans-serif;
    color: rgba(69, 38, 87, 1);
    border-radius: 25px;
    outline: none;
}
.login-input{
    text-align: center;
    margin: 7px;
    padding: 3px;
    border: 1px solid rgba(69, 38, 87, 1);
    width: 80%;
}
.login-input::placeholder{
    color: rgba(208, 172, 219, 1);
}
.message-error {
    font-family: 'Dosis', sans-serif;
    color: red;
    font-size: 12px;
    text-align: center;
    padding: 2px;
    font-weight: bold;
}
.login-btn{
    font-weight: bold;
    background-color:rgba(208, 172, 219, 0.8);
    border: 1px solid rgba(208, 172, 219, 1);
    padding: 3px 3px 4px;
    margin: 5px 0px 10px;
    width: 40%;
}
.create-acc{
    font-family: 'Dosis', sans-serif;
    color: rgba(69, 38, 87, 1);
}
.register-link{
    color:rgba(69, 38, 87, 1);
    font-weight: bold;
    text-decoration: none;
}
#login-google{
    width: 26px;
    padding: 6px;
    margin: 8px;
    border: 1px solid black;
    border-radius: 22px;    
}
#login-google:hover{
    background-color: rgba(208, 172, 219, 1);;
}
@media only screen and (min-width: 768px){
    .login-page{
        flex-direction: row;
        justify-content: space-evenly;
        height: -webkit-fill-available;
        padding: 50px;
    }
    .logo{
        width: 350px;
        margin-top: 0px;
    }
    .logotype{
        width: 240px;
    }
    .login-container{
        width: 30%;
        margin: 20px;
        padding: 15px;
    }
}
